
/* Transformaciones */

.caja{
    width: 400px;
    height: 250px;
    background-color: aqua;
    font-size: 30px;
    display: flex;
    justify-content: center; /* Eje X */
    align-items: center; /* Eje Y */
    margin: 100px; /* Separarlo de los bordes. */
    transition: all 0.5s ease; /* Siempre poner la transición en la base. */
    cursor: pointer;
/*     animation: rectangulo 2s ease;
    animation-fill-mode: forwards; /* Que termine con el estado final de la animación. */
    /* animation-iteration-count: 5; */ 
    transform: rotate(-90deg);
}

@keyframes rectangulo{
    15%{
        background-color: red;
        transform: scale(0.8);
    }

    35%{
        background-color: yellow;
        transform: scale(1);
    }

    50%{
        background-color: orange;
        transform: scale(0.8);
    }

    65%{
        background-color: blue;
        transform: scale(1);
    }

    85%{
        background-color: blueviolet;
        transform: scale(0.8);
    }

    100%{
        background-color: green;
        transform: scale(1);
    }
}

.caja:hover{
    animation: rectangulo 2s ease;
    animation-fill-mode: forwards; /* Que termine con el estado final de la animación. */
    animation-iteration-count: 5;
}