/* Propiedad flex-wrap */

.contenedor{ /* Se lee la última línea que aparezca del código, en este caso, el display flex. */
    background-color: gray;
    display: flex;
}

.item{
    background-color: aqua;
    width: 100px;
    height: 100px;
    margin: 20px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}