.contenedor{
    background-color: lightgray;
    width: 60%; /* El porcentaje es del total del navegador en el eje X */
    margin: 0 auto; /* Arriba y abajo   Auto. Sirve para que se adapte automáticamente según la proporción de la pantalla */
    height: 600px; /*  */
    /* padding-top: 20px; /* El espacio que se deja DENTRO del elemento. */
} 

.verde{
    background-color: lightgreen;
    width: 90%;
    margin: 0 auto 20px; /* Arriba - Laterales - Abajo */
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    /* El posicionamiento absoluto se mide con respecto a un elemento que tenga posicionamiento relativo. Por consiguiente, el elemento
    con posicionamiento relativo por nacimiento es la etiqueta <body>. Los elementos contenedor y cajas tienen posicionamiento estático.*/
}

.celeste{
    background-color: lightblue;
    width: 90%;
    margin: 0 auto 20px; /* Arriba - Laterales - Abajo */
    height: 150px;
}

.amarillo{
    background-color: yellow;
    width: 90%;
    margin: 0 auto 20px; /* Arriba - Laterales - Abajo */
    height: 150px;
}