/* font-family: 'Berkshire Swash', cursive;
font-family: 'EB Garamond', serif;
font-family: 'Pinyon Script', cursive;
font-family: 'Tangerine', cursive;
font-family: 'Titillium Web', sans-serif; */

body h1{
    font-family: 'Pinyon Script', cursive;
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
    margin: 0;
    position: relative;
    bottom: 150px;
    left: -100px;
    color: ghostwhite
}

body h2{
    font-family: 'Berkshire Swash', cursive;
    font-size: 25px;
    display: inline-block;
    margin: 0;
    position: relative;
    bottom: 120px;
    left: -160px;
}

img{
    width: 250px;
    height: 250px;
    position: relative;
    left: -35px;
    bottom: 25px;
}

header{
    background-color: #B0AA9B;
    height: 160px;
}

.holder{
    
}