/* 
font-family: 'Berkshire Swash', cursive;
font-family: 'EB Garamond', serif;
font-family: 'Tangerine', cursive; */

body {
    font-family: 'Titillium Web', sans-serif;
}

header {
    background-color: #104C8F;
    padding-top: 5px;
}

h1 {
    color: white;
    display: inline-block;
    position: relative;
    bottom: 35px;
    left: 30px;
    font-style: italic;
    margin: 0;
}

nav {
    background-color: #87BAF4;
    margin-bottom: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px;
    display: block;
    text-align: center;
}

nav ul li a.activo {
    background-color: #4c76a5;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    background-color: #4c76a5;
}

footer {
    background-color: lightgray;
    text-align: center;
    padding: 40px 0; /* Primer parámetro: arriba y abajo. Segundo parámetro: derecha e izquierda. */
    margin-top: 22px;
}

.holder {
    max-width: 960px;
    margin: 0 auto;
}

h2 {
    color: #104C8F;
    font-weight: 400;
}

.columns {
    display: flex;
}

.welcome {
    width: 75%;
    padding-right: 15px;
}

.testimonies {
    width: 25%;
}

.testimony {
    background-color: lightgray;
    padding: 16px;
}

.testimony .quote {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    display: block;
}

.testimony .author {
    font-size: 11px;
    text-align: center;
    display: block;
    margin-top: 16px;
}

.history p {
    font-size: 14px;
}

.person {
    border: 2px solid lightgray;
    border-radius: 10px;
    width: 18%;
    text-align: center;
    padding: 8px;
    box-sizing: border-box;
}

.person img {
    border-radius: 50%;
    max-width: 65%;
    box-shadow: 0 0 5px black;
    margin: 13px 0 16px;
}

.people {
    display: flex;
    justify-content: space-between;
}

.person h5,
.person h6 {
    color: #104C8F;
    font-weight: normal;
    margin: 0;
}

.person h5 {
    font-size: 16px;
}

.person h6 {
    font-style: italic;
}

.service {
    border: 1px solid grey;
    border-radius: 10px;
    margin: 16px 0;
    padding: 16px;
    display: flex;
    gap: 30px;
    align-items: center;
}

.service img {
    max-width: 225px;
    border-radius: 10px;
}

.service .info h4 {
    color: #104C8F;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    border-bottom: 1px solid #104C8F;
    padding-bottom: 8px;
}

.service:nth-child(odd) {
    /* Hijos pares */
    flex-direction: row-reverse;
}

/* GALLERY */

.h2gallery{
    margin-bottom: 0%;
}

.pgallery{
    width: 200px;
}

.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.images img{
    max-width: 200px;
    margin-bottom: 35px;
    border-radius: 10px;
    transition: all 500ms;
    filter: blur(3px) grayscale(50%);
}

.images img:hover{
    scale: 110%;
    filter: blur(0px) grayscale(0%);
}

.footergallery{
    margin: 0%;
}

/* CONTACT */

.titles h2{
    margin: 0px 0px 15px 0px;
}

.contact {
    display: flex;
    justify-content: space-between;
}

.contact section {
    width: 100%;
}

.data p {
    font-size: 14px;
}

.data ul {
    padding: 0;
    list-style: none;
    font-size: 13px;
    margin-bottom: 5px;
}

.data ul li {
    margin-bottom: 5px;
}

.data ul li a {
    margin-left: 8px;
}

.icon {
    color: #104C8F;
}

.form p {
    display: flex;
}

.form p label {
    min-width: 100px;
    display: flex;
    align-items: center;
}

.form p:nth-child(4) {
    align-items: flex-start;
    /* Para ubicar 'Mensaje' en la parte inicial del text area. */
}

.form p input,
.form p textarea {
    width: 100%;
    background-color: lightgray;
    border-radius: 5px;
    border: 1px solid #999;
    font-size: 14px;
    padding: 6px;
}

.form textarea {
    resize: none;
    height: 150px;
}

.form input[type="submit"] {
    background-color: #4c76a5;
    box-shadow: 0 0 10px gray;
    color: white;
    font-size: 16px;
    width: 365px;
    margin-left: 100px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.form input[type="submit"]:hover {
    background-color: #23384f;
}

.data {
    margin-left: 50px;
}



